.titles {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    background-color: rgb(186, 228, 251);
    border-radius: 5px;
    align-items: center;

}
.dvider{
    font-size: 20px;
    color: rgb(44, 166, 207);
    
}

.circle{
    font-size: 30px;
    text-align: center;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    height: 30px;
    width: 30px;
}
