<div class="container">
  <div class="title">Dados do cartão</div>
  <div class="data">
    <div class="subTitle">Cartão utilizado</div>
    <div class="type">
      <div>cartão fisico</div>
      <div>Final 0910</div>
    </div>
    <div class="line"></div>
    <div>Forma de pagamento</div>
    <div class="mode">Aproximação com senha</div>
    <div class="line"></div>
    <div>Ações possiveis</div>
    <div class="action">
      <div class="button">Reportar Compra</div>
      <div class="button">Bloquear Cartão</div>
    </div>
  </div>
</div>
