<div class="container">
  <app-return-button></app-return-button>
  <div class="titles">
    <label class="text">Estabelecimento</label>
    <label class="text">Data da transação</label>
    <label class="text">Valor da compra</label>
  </div>

  <div *ngFor="let item of compras">
    <app-purchase-description
      description="{{ item.local }}"
      date="{{ item.date }}"
      value="{{ item.value }}"
    >
    </app-purchase-description>
  </div>
  <button (click)="adicionar()">Adicionar item</button>
</div>
