
<div class="container">
  <app-return-button></app-return-button>
    <div class="titles">
        <label class="text">Estabelecimento</label>
        <label class="text">Data da transação</label>
        <label class="text">Valor da compra</label>
    </div>

    <app-purchase-description
    description="Banca do tio Zé" 
    date="12/01/2023" 
    value="R$ 23,89" 
     >
   </app-purchase-description>   
   
   <app-purchase-description
   description="Padaria bom pão" 
   date="18/01/2023" 
   value="R$ 11,20" 

    >
  </app-purchase-description>     
  
  <app-purchase-description
  description="La casa de pastel" 
  date="27/01/2023" 
  value="R$ 17,65" 

   >
 </app-purchase-description>    
 
 <app-purchase-description
 description="Restaurante vo Zena" 
   date="29/01/2023" 
   value="R$ 98,20" 

  >
</app-purchase-description>

<app-purchase-description
description="Banca do tio Zé" 
date="12/01/2023" 
value="R$ 23,89" 

 >
</app-purchase-description>   

<app-purchase-description
description="Padaria bom pão" 
date="18/01/2023" 
value="R$ 11,20" 

>
</app-purchase-description>     

<app-purchase-description
description="La casa de pastel" 
date="27/01/2023" 
value="R$ 17,65" 

>
</app-purchase-description>    

<app-purchase-description
description="Restaurante vo Zena" 
date="29/01/2023" 
value="R$ 98,20" 
>
</app-purchase-description>
    
</div>

